.DS_Store
recentf
tramp
smex-items
custom.el
bookmarks

*.elc
.lsp-*

elpa/
auto-save-list/
transient/
projectile.cache
projectile-bookmarks.eld
/.cache/
/parinfer-rust/
/package-quickstart.el
/url/
/eln-cache/
