[submodule "submodules/swift-format"]
	path = submodules/swift-format
	url = git@github.com:P233/swift-format.el.git
[submodule "submodules/lsp-bridge"]
	path = submodules/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "submodules/deno-bridge"]
	path = submodules/deno-bridge
	url = git@github.com:manateelazycat/deno-bridge.git
[submodule "submodules/emmet2-mode"]
	path = submodules/emmet2-mode
	url = git@github.com:P233/emmet2-mode.git
[submodule "submodules/mind-wave"]
	path = submodules/mind-wave
	url = git@github.com:manateelazycat/mind-wave.git
[submodule "submodules/copilot"]
	path = submodules/copilot
	url = git@github.com:zerolfx/copilot.el.git
