.DS_Store
.lsp-*
.cache
.org-id-locations
.dap-breakpoints

*.elc
custom.el
package-quickstart.el
projectile.cache
projectile-bookmarks.eld
org-roam.db

url
elpa
recentf
request
bookmarks
eln-cache
transient
smex-items
auto-save-list
semanticdb
projects
chatgpt_api_key
