[submodule "custom-packages/emacs-pragmatapro-ligatures"]
	path = custom-packages/emacs-pragmatapro-ligatures
	url = git@github.com:lumiknit/emacs-pragmatapro-ligatures.git
[submodule "custom-packages/swift-format"]
	path = custom-packages/swift-format
	url = git@github.com:P233/swift-format.el.git
[submodule "custom-packages/lsp-bridge"]
	path = custom-packages/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "custom-packages/deno-bridge"]
	path = custom-packages/deno-bridge
	url = git@github.com:manateelazycat/deno-bridge.git
[submodule "custom-packages/emmet2-mode"]
	path = custom-packages/emmet2-mode
	url = git@github.com:P233/emmet2-mode.git
[submodule "custom-packages/mind-wave"]
	path = custom-packages/mind-wave
	url = git@github.com:manateelazycat/mind-wave.git
