.DS_Store
.cache
.dap-breakpoints
auto-save-list
bookmarks
custom.el
eln-cache
elpa
package-quickstart.el
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
smex-items
straight
transient
url